/* generic */
* {
	text-align: center;
}
body {
	margin: 50px;
}
p, button, label, h4 {
	font-size: 150% !important;
	color: #333;
}
::-moz-selection {
	background: #666 !important;
	color: #fff;
}
::selection {
	background: #666 !important;
	color: #fff;
}

/* specific */
button {
	margin: 10px;
}

/* dice */
.fa-dice-one, .fa-dice-two, .fa-dice-three, .fa-dice-four, .fa-dice-five, .fa-dice-six, .fa-square {
	color: #333;
	box-shadow: 4px 4px 0px #000;
	border-radius: 10%;

	font-size: 150%;
	margin: 5px;
}
.fas.fa-dice-one {
	color: #666;
	box-shadow: 4px 4px 0px #666;
}
hr {
	border-color: #333;
}

@media screen and (max-width: 768px) { /*small*/
	.fa-dice-one, .fa-dice-two, .fa-dice-three, .fa-dice-four, .fa-dice-five, .fa-dice-six, .fa-square {
		font-size: 120%;
		margin: 2px;
	}
	p, button, label, h4 {
		font-size: 120% !important;
	}
}