* {
	text-align: center;
}
body {
	margin: 50px;
}
p, button, label, h4 {
	font-size: 150% !important;
}
button {
	margin: 10px;
}
.fa-dice-one, .fa-dice-two, .fa-dice-three, .fa-dice-four, .fa-dice-five, .fa-dice-six {
	color: #333;
	box-shadow: 4px 4px 0px #000;
	border-radius: 10%;
}
.fas.fa-dice-one {
	color: #666;
	box-shadow: 4px 4px 0px #666;
}