/* generic */

* {
	text-align: center;
}
body {
	margin: 50px;
	background-image: url('../img/icon-opacity.svg');
	background-color: #ccf;
}
p, button:not(.btn-sm), label.label-lg, .modal-title {
	font-size: 150% !important;
}
p, label, .modal-title {
	color: #333 !important;
}
.tab-pane p {
	font-size: 100% !important;
	text-align: left;
}
::-moz-selection {
	background: #666 !important;
	color: #fff;
}
::selection {
	background: #666 !important;
	color: #fff;
}

/* buttons */

button:not(.close) {
	margin: 10px;
	color: #fff !important;
}
button i {
	color: #66c;
	transition: 0.1s linear;
}
button:not(:disabled):hover i {
	transform: scale(1.25);
}

#settings-btn i {
	color: #fff;
}
#settings-btn:hover i {
	transform: rotate(60deg);
}

/* carousel */

.carousel-control-next, .carousel-control-prev, .carousel-indicators li {
	/* make them black */
	filter: invert(100%);
}
.carousel-inner {
	padding: 20px;
}
.carousel-control-next, .carousel-control-prev {
	width: 20px;
	height: 20px;
	padding: 5px;
	border-radius: 50%;
}
.carousel-control-next:hover, .carousel-control-prev:hover {
	background-color: #333;
}

/* dice */

.dice-icon {
	color: #333;
	box-shadow: 4px 4px 0px #333;
	border-radius: 10%;

	font-size: 150%;
	margin: 5px;
}
.fas.fa-dice-one, .dice-icon.focus {
	color: #339;
}

/* other */

select {
	color: #333;
}
hr {
	border: 1px solid #333;
	width: 50%;
}

/* media */

@media screen and (max-width: 768px) {
	.dice-icon {
		font-size: 120%;
		margin: 2px;
	}
	p:not(.tab-pane p), button:not(.btn-sm), label.label-lg, h4 {
		font-size: 120% !important;
	}
	hr {
		width: 90%;
	}
}